body {
    margin: 0px;
    padding: 0px;
}

.column {
    width: 960px;
    margin: 0px auto;
}

.header__item {
    display: flex;
    justify-content: space-between;
}

.header__form {
    display: flex;
    flex-direction: row;
}

.header__form__input {
    background-color: #f8f6f6e5;
    margin: 0px;
    border: none;
}

.main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-menu__link {
    text-align: center;
    color: #666666;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
}

.main-menu__link:hover,
.main-menu__link--active {
    color: #e80606;
    transition: 300ms;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.home {
    background: url('slike/slika1.png');
    background-position: top;
    background-repeat: no-repeat;
    height: 330px;
    width: 960px;
    border-bottom: 4px solid #dc0101;
}

.second-page__title {
    font-size: 32px;
    font-family: 'Open Sans';
    font-style: italic;
    color: #666666;
    kerning: 0;
    text-align: center;
}

.button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 10px;
    padding: 10px;
}

.button__search {
    margin-left: 0px;
}

.button--red {
    background-color: #b61f25;
}

.button--grey {
    background-color: #f8f6f6e5;
}

.service-row {
    display: flex;
    width: 960px;
    justify-content: space-around;
}

.service-row__container {
    width: 220px;
    height: 115px;
}

.service-row__container>img {
    border-bottom: 2px solid #b20000;
}

.service-row__container>p {
    margin-top: 0px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 13px;
    color: #666666;
    kerning: 0;
    text-align: center;
}

.layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 960px;
}

.layout__column {
    flex: 50%;
    margin: 50px 10px;
    font-family: 'Open Sans';
    font-weight: bold;
}

.layout__title {
    font-size: 24px;
    color: #b61f25;
    kerning: 0;
}

.layout__column p {
    font-size: 12px;
    color: #333333;
    kerning: 0;
    position: relative;
}

.layout__list {
    font-size: 12px;
    list-style-position: outside;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #333333;
}

.layout__list__item {
    padding: 5px;
    cursor: pointer;
}

.layout__list__item:before {
    content: "\00BB";
    color: #b61f25;
}

.footer {
    background: #554343e1;
    border-top: 4px solid #b20000;
}

.footer__item {
    display: flex;
    justify-content: space-around;
    width: 960px;
    border-bottom: 1px solid #ffffff;
    margin: auto;
    color: #ffffff;
}

.footer__item-second {
    margin: 10px;
    width: 220px;
    height: 300px;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 11px;
    kerning: 0;
}

.footer__last-item {
    font-size: 11px;
    justify-content: space-between;
    position: absolute;
}

.footer__title {
    font-family: 'Open Sans';
    font-size: 18px;
}

.secondary-paragraph {
    text-transform: uppercase;
    text-decoration: underline;
}

.answer {
    display: none;
    position: absolute;
    background-color: rgb(245, 237, 237);
    margin-left: 0px;
    margin-top: 0px;
    padding: 5px;
    width: 460px;
}

.layout__list__item:hover>.answer {
    display: block;
    position: relative;
}


/*.layout__list__item {
    border: none;
    width: 460px;
    position: absolute;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 11px;
}*/